<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
	<tr>
		<td style="font-size: 18px; text-align: center;">
			{{{sender}}}, complained author <a href={{{authorLink}}}>{{{authorName}}}</a>
		</td>
	</tr>
	<tr style="font-size: 18px; text-align: center;">
		Text: {{{complain}}}
	</tr>
</table>
